body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.yellowgreen-color
{
 color: yellowgreen;
}
.oranga-color{
    color:orange
}
.blue{
    color: turquoise;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width img{
 width: 80%;
 padding-top: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green,skyblue);
    padding:10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.link-button1{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.coxs-bazar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experiance-item{
    box-shadow: 10px 10px 40px gray;
    width:20%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
    border-radius: 10px;

}
#eco{
    border-left:7px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}
#port{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#climate{
    border-left:7px solid;
    border-image:linear-gradient(green,yellow) ;
    border-image-slice:1;
}
footer p{
    text-align: center;
}
